@page "/account-balance"
@inherits ExplorerComponent;

<h3>Account Balance</h3>

<div class="row">
    <div class="col-lg-12">

        @if (!string.IsNullOrWhiteSpace(ErrorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @ErrorMessage
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(SuccessMessage))
        {
            <div class="alert alert-success" role="alert">
                @((MarkupString) SuccessMessage)
            </div>
        }

        <RadzenCard Class="w-100 mb-4">
            <div class="row mb-4">
                <PublicKeyTextBox Text="Enter the account public key:" SignerRef="@SignerInterop"
                                  @bind-Value="_accountPublicKey" Class="w-100"/>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <RadzenButton Text="Get Account Balance" Click="@GetAccountBalanceBtnClicked" class="float-end"/>
                </div>
            </div>

            @if (_balance != null)
            {
                <div class="row mt-4">
                    <div class="align-items-center d-flex col-md-3">
                        <RadzenLabel Text="Balance:"/>
                    </div>
                    <div class="col-md-9">
                        <RadzenTextBox Value="@_balance" ReadOnly="true" style="width: 100%;" Name="TransId"/>
                    </div>
                </div>
            }
        </RadzenCard>

        <RpcJsonViewer @ref="JsonViewerInstance"></RpcJsonViewer>

    </div>
</div>
