@page "/get-balance"
@inherits ExplorerComponent;

<h3>Account Balance</h3>

<div class="row">
    <div class="col-lg-12">

        @if (!string.IsNullOrWhiteSpace(ErrorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @ErrorMessage
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(SuccessMessage))
        {
            <div class="alert alert-success" role="alert">
                @((MarkupString) SuccessMessage)
            </div>
        }

        <RadzenCard Class="w-100 mb-4">
            <div class="row mb-4">
                <h5>@InputLabel:</h5>
                <div>
                    <RadzenTextBox @bind-Value="_accountPublicKey" Placeholder="purse identifier..." Class="w-100"/>
                </div>
            </div>
            <div class="row mb-4">
                <RadzenRadioButtonList @bind-Value=@_queryMethod TValue="int"
                                       Orientation="Orientation.Horizontal" Change="@(OnQueryMethodChange)">
                    <Items>
                        <RadzenRadioButtonListItem Text="query_balance" Value="0"/>
                        <RadzenRadioButtonListItem Text="query_balance_details" Value="1"/>
                        <RadzenRadioButtonListItem Text="state_get_balance" Value="2"/>
                    </Items>
                </RadzenRadioButtonList>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <RadzenButton Text="Get Balance" Click="@GetAccountBalanceBtnClicked" class="float-end"/>
                </div>
            </div>
        </RadzenCard>
    </div>
    <div class="col-lg-12 mt-3 mb-4">
        <RpcJsonViewer @ref="JsonViewerInstance"></RpcJsonViewer>
    </div>
</div>
