@page "/"
@inject NavigationManager _navManager

<h1>Redirect Page</h1>

<p>Redirecting to Default Page</p>

@code {
    protected override void OnInitialized()
    {
        try
        {
            _navManager.NavigateTo("/blocks");
        }
        catch
        {
            // ignored
        }
    }
}
