@page "/settings"
@inherits ExplorerComponent;

<h3>Settings</h3>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-xl-4 ">
            <RadzenCard>
                <div class="row">
                    <h4>Event Store</h4>
                    
                    <div class="col-12 text-center">
                        <RadzenButton class="w-75" Click=@(args => SwitchToCondorListener()) Text="Condor listener" />
                        @* <RadzenButton class="w-75" Click=@(args => ConnectEventStoreListener()) Text="Connect" Disabled="@(!EventStore.IsRunning())"/> *@
                        @* <RadzenButton class="mt-4 w-75" Click=@(args => DisconnectEventStoreListener()) Text="Disconnect" Disabled="@(!EventStore.IsRunning())"/> *@

                    </div>

                </div>

            </RadzenCard>
        </div>
    </div>
</div>
