@inherits LayoutComponentBase

<PageTitle>@_PageTitle</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu Title="@_PageTitle"/>
    </div>
    <RadzenNotification />
    <main>
        <div class="top-row mx-4 px-4">
            @_statusMessage
            <RadzenButton Click="@(_ => OnConnectToCondor())" Icon="autorenew" 
                          Text="@("Build " + _buildVersion)" ButtonStyle="ButtonStyle.Light" 
                          />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
