<RadzenCard class="mt-3">
    <div class="row">
        <div class="col">
            <RadzenButton Click=@(args => OnShowJsonClick()) Icon="refresh" ButtonStyle="ButtonStyle.Light"/>
            <RadzenButton Click=@(args => Expand("**")) Icon="unfold_more" ButtonStyle="ButtonStyle.Light"/>
            <RadzenButton Click=@(args => Collapse("**")) Icon="unfold_less" ButtonStyle="ButtonStyle.Light"/>
            <RadzenButton Click=@(args => CopyToClipboard()) Icon="assignment" ButtonStyle="ButtonStyle.Light"/>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div style="background-color: #2a2f3a; padding: 16px 0 16px 16px">
                <json-viewer id="@ID"></json-viewer>
            </div>
        </div>
    </div>
</RadzenCard>